.floatingSection {
  position: absolute;
  height: 400px;
  width: 600px;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  padding: 30px;
  position: fixed;
  box-sizing: border-box;
}
