.headerSection {
  color: rgb(56, 58, 58);
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #d3cbc9;
  z-index: 1;
}
header img {
  width: 230px;
}
header h1 {
  color: rgb(56, 58, 58);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.navBtn {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
.navBtn:hover {
  text-decoration: underline;
}
.pathAndStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
.pathAndStatus h2 {
  text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
  .headerSection {
    justify-content: center;
  }

  .pathAndStatus {
    display: none;
  }
}
