.dashboardSection {
  background-color: white;
  display: block;
  text-align: center;
  margin: 10px 10px 0 10px;
  padding: 10px;
  border-radius: 10px;
}
.pageController {
  display: none;
}
.chartControllerContainer h2 {
  font-size: large;
}
.dateSelection div {
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
}
.dateSelection label {
  width: 100%;
}
.dateSelection input {
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid gray;
}
.pieChartSectionController,
.SumaryChartSectionController,
.barChartSectionControllerClient,
.barChartSectionControllerData {
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
}
.pieChartSectionController label,
.SumaryChartSectionController label,
.barChartSectionControllerClient label,
.barChartSectionControllerData label {
  width: 100%;
}
.pieChartSectionController select,
.SumaryChartSectionController select,
.barChartSectionControllerClient select,
.barChartSectionControllerData select {
  background-color: white;
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}

.pieChart,
.lineChart,
.barChart {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  width: 70vw;
  height: 50vh;
  box-sizing: border-box;
}
.barChart {
  height: 360px;
}
@media screen and (min-width: 400px) {
  .dashboardSection {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 600px) {
  .dashboardSection {
    margin: 10px 4% 0 4%;

    border-radius: 32px;
  }
  .subChartContainer1 {
    display: flex;
    justify-content: space-around;
  }
  .pieChart,
  .lineChart {
    width: 45vw;
    height: 40vw;
  }
  .pieChartContainer {
    height: 90%;
    display: flex;
    align-items: center;
  }
  .barChart {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .dashboardSection {
    border-radius: 32px;
    margin: 0 32px;
    height: 80%;
    padding: 4% 2%;
  }
  .generalInfoContainer {
    width: 270px;
    height: 65vh;
    overflow: hidden;
  }
  .chartsContainer {
    display: flex;
  }
  .subChartContainer1 {
    justify-content: center;
  }

  .pieChart,
  .lineChart,
  .barChart {
    width: 268px;
  }
  .pieChart {
    height: 40vh;
  }
  .lineChart {
    height: 55%;
  }

  .chartsContainer {
    transition: transform 1s;
  }
  .pageController {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .pageController button {
    background-color: rgba(172, 172, 172, 0.4);

    padding: 4px 8px;
    border-radius: 4px;
  }
  .pageController button:hover {
    background-color: rgba(172, 172, 172, 0.6);
    cursor: pointer;
  }
}

/* 
.dashboardSection {
  background-color: white;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 2% 2% 2% 2%;
  margin: 0 32px;
}
.generalInfoContainer {
  height: 65vh;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.pageController {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pageController button {
  background-color: rgba(172, 172, 172, 0.4);

  padding: 4px 8px;
  border-radius: 4px;
}
.pageController button:hover {
  background-color: rgba(172, 172, 172, 0.6);
  cursor: pointer;
}
.chartControllerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1;
  text-align: center;
}
.chartControllerContainer div {
  width: 100%;
}
.chartControllerContainer input {
  padding: 4px 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
}

.dateSelection {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.chartsContainer {

  transition: transform 1s;
  width: 100%;
  min-height: 75%;

  box-sizing: border-box;
  position: absolute;
  display: flex;

  top: 100px;

}
.subChartContainer1 {
  display: flex;
  height: 100%;
}

.pieChartSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  text-align: center;
}
.pieChartSectionController {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 0 4px 6px;
}
.pieChartSectionController select {
  width: 100%;
  padding: 4px 6px;
  box-sizing: border-box;
}
.pieChart {
  margin-top: auto;
  margin-bottom: auto;

  height: 290px;
  width: 268px;
  box-sizing: border-box;
}


.SumaryChartSection {
  height: 60%;

  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  text-align: center;
}

.SumaryChartSectionController {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 0 4px 6px;
}

.SumaryChartSection select {
  padding: 4px 6px;
  box-sizing: border-box;
  width: 100%;
}
.lineChart {
  height: 100%;

  width: 268px;
}
.barChartSection {
  height: 100%;
  width: 100%;
  gap: 4px;
  height: 400px;
}
.barChartSectionControllerData,
.barChartSectionControllerClient {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 0 4px 6px;
}
.barChartSectionControllerData select,
.barChartSectionControllerClient select {
  width: 100%;
  padding: 4px 6px;
}
.barChart {
  width: 268px;
  height: 100%;
  transition: rotate 2s;
  overflow: auto;
}

@media screen and (max-width: 1024px) {
  .dashboardSection {
    margin-top: 100px;
    box-sizing: content-box;
    height: auto;
    display: block;
  }
  .pageController {
    display: none;
  }
  .generalInfoContainer {
    overflow: show;
    height: auto;
    width: 90%;
    display: block;

  }
  .chartsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }
  .subChartContainer1 {
    height: 50%;
    justify-content: space-around;
  }

  .barChartSectionControllerClient {
    display: none;
  }
  .barChartSection {
    display: block;
    overflow: auto;
  }
  .barChart {
    width: 100%;
    height: 65%;
  }
}
@media screen and (max-width: 740px) {
  .dashboardSection {
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: content-box;
  }
}
@media screen and (max-width: 740px) {
  .dashboardSection {
    flex-direction: column;
    margin-top: 10px;

    border-radius: 10px;
  }
  .generalInfoContainer {
    display: inline-block;
    box-sizing: content-box;
    height: 500px;
    width: 100%;
    padding: 0 20px 50% 20px;
  }
  .chartControllerContainer {
    flex-direction: column;
  }
  .dateSelection {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
  }
  .dateSelection div {
    width: 100%;
  }
  .chartControllerContainer input {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .dashboardSection {
    margin: 0 10px 0 10px;
    padding: 10px;
  }
   .generalInfoContainer {
    flex-direction: column;
    width: 200px;
    height: 300px;
  } 
} */
