.invoicesManager {
  padding-top: 100px;
  background-color: rgb(243, 242, 242);
  background-color: gray;
  height: 100vh;
  /* width: 100vw; */
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.invoicesBox {
  background-color: white;
  height: 80%;
  border-radius: 32px;
  flex-grow: 1;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  margin: 0 32px 0 0;
}
.addInvoice {
  background-color: rgb(56, 58, 58);
  border: none;
  border-radius: 50px;
  padding: 6px 12px;
  font-weight: bold;
  color: white;
  width: 150px;
}
.invoicesBox table {
  flex-grow: 4;
}
.paginationArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.paginationLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoicesPerPage {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(243, 242, 242, 255);
  margin: 0 4px;
  right: 20px;
}
.paginationLinks li {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(243, 242, 242, 255);
  margin: 0 4px;
}
.paginationLinks li:hover {
  background-color: rgb(56, 58, 58);
  color: white;
  cursor: pointer;
}
.paginationLinks li:active {
  background-color: rgb(26, 27, 27);
}
.pageSelected {
  background-color: rgb(26, 27, 27);
}
.loadingInvoicesBox {
  height: 100%;
  width: 100%;
  position: relative;

  border-radius: 30px;
  color: black;
  font-weight: bold;
}

.tableIcons {
  font-size: 32px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}
table,
td,
th {
  text-align: center;
  border-top: 1px solid rgb(191, 191, 191);
  border-bottom: 1px solid rgb(191, 191, 191);
}
tbody th {
  font-weight: 400;
}
thead th {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* 1280×800 – 7.38% */
@media screen and (max-width: 1024px) {
  .invoicesManager {
    height: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .invoicesBox {
    margin-left: 4%;
    margin-right: 4%;
  }
  .loadingInvoicesBox {
    left: 25%;
  }
}
/* 768×1024 – 6.11% */
@media screen and (max-width: 740px) {
  .invoicesManager {
    height: inherit;
    height: 100%;
  }
  .invoicesBox {
    border-radius: 10px;
    margin: 0 20px;
    padding: 10px;
  }
  .invoicesBox .table thead tr {
    display: none;
  }
  .invoicesBox .table tr {
    display: block;
    padding: 20px;
  }
  .table,
  td,
  th {
    border-top: none;
    border-bottom: none;
  }
  .invoicesBox .table td {
    text-align: right;
    display: block;
  }
  .invoicesBox .table td::before {
    content: attr(data-title) ": ";
    float: left;
  }
  .invoicesBox .table tbody tr:nth-child(even) {
    background-color: rgb(191, 191, 191);
  }
  .paginationArea,
  .paginationLinks {
    flex-wrap: wrap;
    margin: 8px;
  }
}
@media screen and (max-width: 400px) {
  .invoicesBox {
    margin: 0 10px 0 10px;
    padding: 10px;
  }
}
.uploadingFiles {
  position: absolute;
  z-index: 500;
  background-color: white;
  height: 150px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
