.dashboardSection {
  background-color: white;
  height: 95%;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 2% 2% 2% 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 0 32px;
}
.generalInfoContainer {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}
.pageController {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.pageController button {
  background-color: rgba(172, 172, 172, 0.4);

  padding: 4px 8px;
  border-radius: 4px;
}
.pageController button:hover {
  background-color: rgba(172, 172, 172, 0.6);
  cursor: pointer;
}
.chartControllerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1;
  text-align: center;
}
.chartControllerContainer div {
  width: 100%;
}
.chartControllerContainer input {
  padding: 4px 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
}
/* Chart section */
.dateSelection {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.chartsContainer {
  width: 100%;
  height: 75%;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  /* gap: 20px; */
  top: 100px;

  /*   transform: translateX(-100%); */
  transition: transform 1s;
}
/* pie style */
.pieChartSection {
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  text-align: center;
}
.pieChartSectionController {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 0 4px 6px;
}
.pieChartSectionController select {
  width: 100%;
  padding: 4px 6px;
}
.pieChart {
  height: 100%;
  width: 268px;
}
/* summary Style */
.SumaryChartSection {
  background-color: lightcoral;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  text-align: center;
}
.SumaryChartSection div {
  width: 268px;
}
.SumaryChartSectionController {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 0 4px 6px;
}
.SumaryChartSection select {
  width: 100%;
  padding: 4px 6px;
}
/* bar style */
.barChartSection {
  height: 100%;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-sizing: border-box;
  text-align: center;
}
.pieChartSectionController {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 0 4px 6px;
}
.barChart {
  height: 100%;
  width: 268px;
}
/* @media screen and (max-width: 1024px) {
  .dashboardSection {
    padding: 2%;
    margin-top: 100px;
    margin-left: 4%;
    margin-right: 4%;
  }
  .generalInfoContainer {
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
  .dateSelection {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .chartControllerBtns {
    flex-direction: column;
  }
}
@media screen and (max-width: 740px) {
  .dashboardSection {
    flex-direction: column;
    margin-top: 10px;

    border-radius: 10px;
  }
  .generalInfoContainer {
    display: inline-block;
    box-sizing: content-box;
    height: 500px;
    width: 100%;
    padding: 0 20px 50% 20px;
  }
  .chartControllerContainer {
    flex-direction: column;
  }
  .dateSelection {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
  }
  .dateSelection div {
    width: 100%;
  }
  .chartControllerContainer input {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .dashboardSection {
    margin: 0 10px 0 10px;
    padding: 10px;
  }
   .generalInfoContainer {
    flex-direction: column;
    width: 200px;
    height: 300px;
  } 
} */
