.productDisplayFloatingSection {
  position: absolute;
  color: rgb(34, 38, 39);
  background-color: rgba(0, 0, 0, 0.2);

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDisplayOutOfBoxSection {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productDisplayPopUpBox {
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  height: 400px;
  width: 600px;
  padding: 30px;
  box-sizing: border-box;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.productDisplayPopUpBox h1 {
  font-size: xx-large;
}

/* table section */
.productDisplayTableSection {
  height: 100%;
  width: 100%;
  margin-right: 10px;
}
.productDisplayTableSection table {
  width: 100%;
}
.productDisplayTableSection th {
  position: sticky;
  top: -1px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid rgb(170, 170, 170);
}
.productDisplayTableSection td {
  text-align: center;
  height: 46px;
}
@media screen and (max-width: 740px) {
  .productDisplayTableSection td {
    height: 100%;
  }
  .productDisplayTableSection {
    overflow-y: scroll;
  }
}
