.registerMain {
  height: 100vh;
  color: rgb(47, 52, 62);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  padding: 0 4rem;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
}
.registerBox {
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 24px;
  border: 2px solid rgba(47, 52, 62, 0.3);
  border-radius: 8px;
}
.registerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.registerForm div {
  display: flex;
  flex-direction: column;
}
.registerForm input {
  padding: 4px;
}
label {
  text-transform: capitalize;
  font-weight: bold;
}
.submitBtnSection {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.submitBtnSection input {
  padding: 10px 0;
  background-color: rgb(41, 49, 60);
  color: white;
  border: none;
  font-size: larger;
}
